
/*
 *	/home/indictrance/Documents/new_setup_26_09_2014/frappe-bench/apps/shopping_cart/shopping_cart/public/css/shopping_cart.css
 */
.item-main-image {
	max-width: 100%;
	margin: auto;
}
.web-long-description {
	font-size: 18px;
	line-height: 200%;
}
.item-stock {
	margin-bottom: 10px !important;
}

